{% extends 'base.html' %}
{% block content %}
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Our Team</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                 <p>Hello there! We are a group of Palestinian and Israeli teenagers in a program called MEET.
We have been studying computer science and business management for 3 years now, and we've decided that it's finally time for us to create our own project.</p>
                
                    <p>So after many debates and a lot of Toffi, we have decided to devote our project to stereotypes and most importantly-BREAKING them!
So we invite you to share with us your OWN stories (either real or made up) that take us a step closer to our vision- A world where society defies social expectations.
</p>
                    
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Please email us your stories at:</strong>
                   
                    
                </address>
                <address>
                  
                    <abbr title="Email"></abbr> <a href="mailto:#">ProjectTripleS@gmail.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

      

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}
