{% extends 'base.html' %}
{% block content %}
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Our Team</h1>

                </div>
            </div>
        </div>

   
             <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/business-frontpage.css" rel="stylesheet">
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                 <p>Hi there! We’re Triple S- 7 Israeli and Palestinian students who have been studying computer science and entrepreneurship at a program called MEET for 3 years now.  We’ve come to the conclusion that one of the biggest issues we all face today is stereotypes- whether based on gender, race, religion or appearance.</p>
                 <p> So, we decided to create a website where other open-minded people can share children’s stories (fiction/nonfiction) that show stereotypes being broken and read other shared stories. In order to make sure the content is kid-friendly and non-offensive we ask that you send us any stories you want to publish, to the email mentioned below

Email: projecttriples@gmail.com.</p>
                

                    
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Please email us your stories at:</strong>
                   
                    
                </address>
                <address>
                  
                    <abbr title="Email"></abbr> <a href="mailto:#">ProjectTripleS@gmail.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

      

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}
