{% extends 'base.html' %}
{% block content %}


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" style="border-radius: 50%" src="static/img/shiran.jpg" width="20%" height="20%" alt="">
                    <div class="intro-text">
                        <span class="name">{{user.name}}</span>
                        <hr class="star-light">
                        <span class="skills">I chose to break stereotypes, <br> how about you? </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
   <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Stories
                        <p>Please email us your stories at: ProjectTripleS@gmail.com</p>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href = "{{url_for('story', sid = 2)}}">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/story7.jpeg.jpeg')}}" alt=""></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="{{url_for('story', sid = 2)}}">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/story8.jpeg.jpg')}}" alt=""></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="{{url_for('story', sid = 3)}}">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/story3.jpg')}}" alt=""></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="{{url_for('story', sid = 4)}}">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/story4.jpg')}}" alt="">
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="{{url_for('story', sid = 2)}}">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/story5.jpeg.jpg')}}" alt="">
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="{{url_for('story', sid = 2)}}">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/story6.jpeg.jpg')}}" alt="">
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
                <!-- /.row -->

        <hr>
{% endblock %}
