{% extends 'base.html' %}
{% block content %}
    <!-- Page Content -->
    <center>
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">

            <br><br><br><br>
                <h1 class="page-header">{{story.name}} lorem ipsum
                    <h6>Want to upload your story? Send it to us at <h5>ProjectTripleS@gmail.com</h5> </h6>
                </h1>


            </div>
        </div>

        <!-- /.row -->
        
        <!-- Projects Row -->

        <div class="row">
        <img class="img-responsive" src="{{ url_for('static',filename=story.pic)}}" alt="">
                <br>
                <p style="border:2px solid #286090; border-radius:10px">{{story.story}}</p>
        </div>
    <br><button type="submit" class="btn btn-primary" id="submit" name="submit" value="submit">Like</button> 47 Likes 
    <br><br><input type="text" name="comment" placeholder="add a comment"><button type="submit" class="btn btn-primary" id="submit" name="submit" value="submit">Submit</button>
    </center>
        <!-- /.row -->

    <!-- /.container -->
{% endblock %}
